# Desafio 1

Para esse desafio, vamos trabalhar com o data set [Black Friday](https://www.kaggle.com/mehdidag/black-friday), que reúne dados sobre transações de compras em uma loja de varejo.

Vamos utilizá-lo para praticar a exploração de data sets utilizando pandas. Você pode fazer toda análise neste mesmo notebook, mas as resposta devem estar nos locais indicados.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Set up_ da análise

In [1]:
import pandas as pd
import numpy as np

In [2]:
black_friday = pd.read_csv("black_friday.csv")

## Inicie sua análise a partir daqui

In [3]:
black_friday.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

## Questão 1

Quantas observações e quantas colunas há no dataset? Responda no formato de uma tuple `(n_observacoes, n_colunas)`.

In [4]:
def q1():
    # Retorne aqui o resultado da questão 1.
    return black_friday.shape
q1()

(537577, 12)

## Questão 2

Há quantas mulheres com idade entre 26 e 35 anos no dataset? Responda como um único escalar.

In [6]:
def q2():
    # Retorne aqui o resultado da questão 2.
    woman = black_friday[black_friday['Gender'] == 'F']
    age_woman = woman[woman['Age'] == '26-35']
    return int(age_woman['User_ID'].count())
q2()

49348

## Questão 3

Quantos usuários únicos há no dataset? Responda como um único escalar.

In [6]:
def q3():
    # Retorne aqui o resultado da questão 3.
    return black_friday['User_ID'].nunique()
q3()

5891

## Questão 4

Quantos tipos de dados diferentes existem no dataset? Responda como um único escalar.

In [87]:
def q4():
    # Retorne aqui o resultado da questão 4.
    return black_friday.dtypes.nunique()
q4()

3

## Questão 5

Qual porcentagem dos registros possui ao menos um valor null (`None`, `ǸaN` etc)? Responda como um único escalar entre 0 e 1.

In [89]:
def q5():
    # Retorne aqui o resultado da questão 5.
    black_friday_na_count = float(black_friday.shape[0] - black_friday.dropna(how = 'any').shape[0])
    black_friday_n_rows = black_friday.shape[0]
    percentage_na = black_friday_na_count/black_friday_n_rows
    return percentage_na
q5()

0.6944102891306734

## Questão 6

Quantos valores null existem na variável (coluna) com o maior número de null? Responda como um único escalar.

In [8]:
def q6():
    return int(black_friday.isna().sum().max())
q6()

373299

## Questão 7

Qual o valor mais frequente (sem contar nulls) em `Product_Category_3`? Responda como um único escalar.

In [7]:
def q7():
    return float(black_friday['Product_Category_3'].value_counts().index[0])
q7()

16.0

## Questão 8

Qual a nova média da variável (coluna) `Purchase` após sua normalização? Responda como um único escalar.

In [3]:
def q8():
    # Retorne aqui o resultado da questão 8.
    purchase = black_friday['Purchase']
    normalization = (purchase - purchase.min()) / (purchase.max() - purchase.min())
    return float(normalization.mean())
q8()

0.3847939036269795

## Questão 9

Quantas ocorrências entre -1 e 1 inclusive existem da variáel `Purchase` após sua padronização? Responda como um único escalar.

In [7]:
def q9():
    purchase = black_friday['Purchase']
    normalization = (purchase - purchase.mean()) / (purchase.std())
    return int(((normalization >= -1) & (normalization <=1)).sum())
q9()

348631

## Questão 10

Podemos afirmar que se uma observação é null em `Product_Category_2` ela também o é em `Product_Category_3`? Responda com um bool (`True`, `False`).

In [8]:
def q10():
    # etorne aqui o resultado da questão 10.
    bool1 = black_friday['Product_Category_2'].isna()
    bool2 = black_friday['Product_Category_3'].isna()
    bool3 = bool1 == bool2
    return False in bool3
q10()

True